html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.js')
    body
      .container-narrow
        .masthead
          ul(class="nav nav-pills pull-right")
            li
              a(href="/") Home
            li
              a(href="/inscription") Inscription

        !=body