html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/mysocket.js')
    
    script(src='/javascripts/js/json2.js')
    script(src='/javascripts/js/oXHR.js')
    script(src='/javascripts/js/classes/Sprite.js')
    script(src='/javascripts/js/classes/Tileset.js')
    script(src='/javascripts/js/classes/Map.js')
    script(src='/javascripts/js/rgp.js')

    
    body
      canvas#canvas Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer

        !=body